# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Flask instance folder (if used)
instance/

# Logs and runtime files
*.log
*.pid

# Coverage reports
htmlcov/
.coverage
.pytest_cache/

# IDE/editor files
.vscode/
.idea/

# Certificate PDFs or temp files
badges/html_templates/output_pdfs/

# OS files
.DS_Store
Thumbs.db
